


body {
    background: url(../images/football-pitch.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: scroll;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.w3-button {
    margin: auto;
    margin-top: 1.5%;
  display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
img {
    margin: auto;
    margin-top: 1%;
    width: auto;
    height: 100%;
    border: 1px solid red;
}
img3 {
    margin: auto;
    width: auto;
    height: 100%;
}

p2 {
    margin: auto;
    margin-top: 5%;
    display: block;
    width: 75%;
    padding: 10px;
    border: 5px solid white;
}
p4 {
    margin: auto;
    margin-top: 3%;
    display: block;
    width: 75%;
    padding: 10px;
    border: 5px solid white;
}
p44 {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    display: block;
    width: 75%;
    padding: 10px;
    border: 5px solid white;
}
p444 {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    display: block;
    width: 75%;
    padding: 10px;
    border: 5px solid white;
}
.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}
.start, .age-check {
    margin: auto;
    text-align: center;
    padding-left: 0px;
  font-size: 20px;
  margin-top: 5%;
}
.title {
    position: absolute;
    font-style: italic;
    text-align: center;
    background-color: bisque;
    width: 100%;
}
.row {
    position: relative;
}



